<footer>
  <div class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div id="text-3" class="widget footer-widget widget_text">
            <h3>Our Services</h3>
            <div class="tiny-border"></div>
            <div class="textwidget">
              <ul>
                <li>
                  <a href="/services/ocean-freight/">Ocean Freight</a>
                </li>
                <li>
                  <a href="/services/air-freight/">Air Freight</a>
                </li>
                <li>
                  <a href="/services/cargo-express/">Cargo Express</a>
                </li>
                <li>
                  <a href="/services/logistic/">Logistics</a>
                </li>
                <li>
                  <a href="/services/warehousing/">Warehousing</a>
                </li>
                <li>
                  <a href="/services/custom-brokerage/">Custom Brokerage</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div id="text-4" class="widget footer-widget widget_text">
            <h3>Location</h3>
            <div class="tiny-border"></div>
            <div class="textwidget">
              Somewhere Over Rainbow <br />
              Green World Rainbow Green World <br />
              T. 0908 1000 1000 <br />
              admin@{{domain}} <br />
              <div class="divider-single"></div>
              <div class="social-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-rss"></i></a>
                <a href="#"><i class="fa fa-envelope-o"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div id="text-5" class="widget footer-widget widget_text">
            <h3>Apex storage service</h3>
            <div class="tiny-border"></div>
            <div class="textwidget">
              <p>
                At {{domain}}, we know experience matters. That’s why customers
                trust us — we have more than 80 years of experience in the
                logistics and transportation industry. For your air charter
                services, this translates to competence around the globe. Please
                make sure that the correct Reference Type matches the number
                being entered. Please follow these instructions for help. That’s
                why customers trust us — we have more than 80 years of
                experience
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">Copyright 2017</div>
      </div>
    </div>
  </div>
</footer>
